.avatar-container{
  
    display: flex;
    justify-content: center;
    align-content: center;
   background-color: #f2f2f2;
   background-attachment: fixed;
  margin-bottom: 20px;
  margin-top: 20px;
    
}

.avatar{
   align-items: center;
   margin: 20px;
   width: 100%;
   border-radius: 6px;
  
 
}
#avatar1{
    margin-top: 80px;
    width: 60%;
    height: 50%;  
    margin-left:100px;
}
#av1-text{
    font-size: 22px;
    text-align: center;
}
#avatar2{
    margin-top: 80px;
    width: 60%;
    height: 50%;  
    margin-left: 70px; 
}
#av2-text{
    font-size: 22px;
    text-align: center;
}
#avatar3{
    margin-top: 80px;
    width: 60%;
    height: 50%; 
    margin-right: 90px; 
}
#av3-text{
    font-size: 22px;
    text-align: center;
    padding-right: 130px;
}
#text1{
    margin-left: 100px;
}
#text2{
    margin-left: 100px;
}
p{
    width: 66%;
    margin-left: 50px;
}
@media screen and (max-width: 940px) {

   
    
    .avatar-container{
      
       
        grid-template-columns: 1fr;
        display: grid;
        grid-gap: 1rem;
    }
    
    }