.form-text{
    font-size: 30px;
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}
.form-container2 {
    margin: 50px auto;
    width: 700px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:lightblue;
  }
  
  .form2 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-inputs{
    padding: 25px;
    padding-left: 10px;
    display: block;
    padding-right: 100px;
    outline: none;
    border-radius: 2px;
    height: 80px;
    width: 50%;
    border: none;
    
  }
  
  label{
    font-size: 18px;
    margin-right: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  input{
    display: block;
    float: left;
    outline: none;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    border: none;
   
  }
  input:hover{
    border:  3px solid #3c89d0 ;
  }
  textarea{
    padding: 8px;
    width:250px;
    height: 50px;
    border-radius: 7px;
    border: none;
  }
  textarea:hover{
    border:  3px solid #3c89d0  ;
  }